---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Lucida, Lucida Bright, Lucida Sans, Lucida Sans Unicode, serif;
	font-size: 13pt;
	margin: 5px 0px 5px 0px;
	line-height: 1.5;
	background-color: #FFFFFF;
}

h1, h2, h3, h4 {
	font-weight: normal;
}

h1 {
	font-size: 130%;
	margin: 10px 0px 15px 0px;
}

#name {
	margin-top: 0px;
	font-weight: bold;
	font-size: 150%;
}

.underline {
	border-bottom: 1px solid #AAA;
}

h2 {
	font-size: 120%;
	margin: 5px 0px 10px 0px;
}

h3 {
	font-size: 110%;
	margin-bottom: 5px;
}

p {
	margin-bottom: 10px;
}

ul {
	margin-bottom: 15px;
	margin-left: 15px;
}

ul li {
	margin-left: 15px;
}

footer {
	font-style:italic;
	font-size: 80%;
	margin-top: 20px;
}

.content {
	width: 80%;
	max-width: 1024px;
	margin: 10px auto 0px auto;
}

#courriel {
	font-family: monospace;
	font-size: 110%;
}

#wrapper {
	display: table;
}

#contact {
	display: table-cell;
	width: 80%;
	vertical-align: middle;
}

#photo {
	width: 20%;
	display: table-cell;
	//vertical-align: middle;
}

#photo img {
	width: 100%;
}

nav {
	background-color: #f7f7f7;
	border-top: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
	text-align: center;
	margin-bottom: 20px;
}

nav ul {
	display: table;
	width: 100%;
	list-style: none;
	margin: 0;
}

nav ul li {
	display: table-cell;
	text-align: center;
	width: 14.28%;
	height: 2em;
	line-height: 2em;
}

nav ul li.active {
	background: #fbd0d9;
}

a, a:link, a:visited {
	color: MidnightBlue ;
	text-decoration: underline;
}

a:hover {
	color: Crimson;
	text-decoration: underline;
}

ul.block {
	list-style-type: none;
	list-style-position: inside;
	margin: 0px;
	font-size: 95%;
}

ul.block li {
	background-color: #f7f7f7;
	margin: 0px 5px;
	border: 1px solid LightGrey;
	padding: 0em 0.3em;
	border-radius: 5px;
	line-height: 1.3em;
}

ul.block li + li {
	margin-top: 10px;
}

ul.block li p {
	margin: 0px;
}


