---
---

$content-width: 1024px;
$on-palm: 800px;
$on-laptop: 1024px;

@import "{{ site.theme }}";

body {
	line-height: 1.5;
}

#courriel {
	font-family: monospace;
}

.site-header {
	background: #7e7f91;
}

a {
  color: #bf5056;
  text-decoration: underline;
}

a:visited {
    color: #bf5056;
    text-decoration: underline;
}

a:hover {
    color: #5056bf;
    text-decoration: underline;
}

p {
	text-align: justify;
}

p.decalage {
	margin-left: 220px;
}

.site-footer {
	padding: 10px 0px 0px 0px;
	color: #CCC;
	font-style:italic;
	font-size: 80%;
	//border: 0px;
}

h1 {
	font-size: 140%;
	margin: 10px 0px 15px 0px;
	border-bottom: 1px solid #AAA;
}

h2 {
	font-size: 110%;
}

ul li + li {
	margin-top: .5em;
}

.underline {
	border-bottom: 1px solid #AAA;
}

ul.block {
	list-style-type: none;
	list-style-position: inside;
	margin: 0px;
	font-size: 95%;
}

ul.block li {
	background-color: #f7f7f7;
	margin: 0px 5px;
	border: 1px solid LightGrey;
	padding: 0em 0.3em;
	border-radius: 5px;
	line-height: 1.3em;
}

ul.block li + li {
	margin-top: 10px;
}

ul.block li p {
	margin: 0px;
}

ul li + li {
	//margin-top: 5px;
}

ul li ul li {
	//margin-bottom: 10px;
}

#img-thumbnail {
	position: absolute;
	max-width: 200px;
    height: auto;
    margin: auto 0px;
	border: 1px solid black;
	border-radius: 5px;
}

.site-nav .page-link {
	color: #EEE;
	font-weight: 500;
	text-decoration: none;
}

.links {
	font-size: 80%;
}

